{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static './css/education.css' %}" />
    <script src="{% static './js/app.js' %}"></script>
    <title>Education | Somesh Behera</title>
  </head>
  <body>
    <a href="./more.html" class="back-link">
      <button class="cta">
        <svg
          id="arrow-horizontal"
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="10"
          viewBox="0 0 46 16"
        >
          <path
            id="Path_10"
            data-name="Path 10"
            d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
            transform="translate(30) scale(-1, 1)"
          ></path>
        </svg>
        <span class="hover-underline-animation"> Go back </span>
      </button>
    </a>

    <div class="container">
      <h1 class="main-heading">My Education</h1>
      <div class="education-container">
        <div class="card" id="education-card-container"></div>
      </div>
    </div>
  </body>
</html>
