{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="view-transition" content="same-origin" />
    <link rel="stylesheet" href="{% static './css/style.css' %}" />
    <script src="{% static './js/app.js' %}"></script>
    <title>Somesh Chandra Behera</title>
  </head>
  <body>
    <div class="container">
      <header class="heading">
        <a href="#" id="logo-link"></a>
        <nav class="tab-bar">
          <a href="./more.html" class="tab-item">More</a>
        </nav>
      </header>

      <main>
        <section class="welcome-section">
          <div class="welcome-main-content">
            <div class="note-with-hire" id="welcome"></div>

            <div class="img-container" id="img-container"></div>
          </div>
        </section>
        <section class="project-section">
          <div class="project-container">
            <div class="projects-heading">
              <h2>Project Showcase ↓</h2>
            </div>
            <div class="projects" id="projects-container"></div>
          </div>
        </section>
      </main>
    </div>
    <footer>
      <div class="credits">
        <p class="copyright">© Designed and Developed By Me</p>
      </div>
      <div class="contact-me-home">
        <a href="./contactMe.html">Contact Me</a>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
  </body>
</html>
